<app-base-layout>

    <app-dummy-button (onClick)="btnAlert()">
        Alert 11111
    </app-dummy-button>

    <hr/>

    <app-dummy-button (onClick)="btnLog()">
        Console.log 22222
    </app-dummy-button>

    <hr/>

    <app-dummy-button (onClick)="btnLog()">
        Console.log 22222
    </app-dummy-button>

    <hr/>

    <app-dummy-button-alert></app-dummy-button-alert>

    <hr/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE<br/>
    HOME_PAGE

</app-base-layout>
