<app-holy-grail-layout>

    <app-dummy-block slot="top" bg="red">
        Content-Top
    </app-dummy-block>


    <app-dummy-block slot="center-left" bg="cornflowerblue" [maxHeight]="true">
        Center-Left
    </app-dummy-block>

    <app-dummy-block slot="center-center" bg="powderblue" [maxHeight]="true">
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center<br/>
        Center-Center
    </app-dummy-block>

    <app-dummy-block slot="center-right" bg="royalblue" [maxHeight]="true">
        Center-Right
    </app-dummy-block>


    <app-dummy-block slot="bottom" bg="red">
        Content-Bottom
    </app-dummy-block>

</app-holy-grail-layout>
